/* Conteneur principal divisé en deux */
.main-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

/* Partie login à gauche */
.login-container {
  width: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

/* Partie image à droite */
.image-container {
  width: 50%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

/* Carte de connexion */
.login-card {
  /* width: 50%;
  padding: 50px;
  display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centrer horizontalement */
}

/* Logo */
.logo {
  font-size: 30px;
  color: #6b21a8;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

/* Titres et paragraphes */
h2 {
  margin-bottom: 20px;
  text-align: center;
}

p {
  color: #666;
  margin-bottom: 20px;
}

/* Champs */
form {
 /* width: 100%;*/
  
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.input-group {
  width: 100%;
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  width: 100%;
  max-width: 150px; 
  padding: 8px;}

.input-group input {
  width: 100%;
  ;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 14px;
}

.input-group small {
  color: gray;
  font-size: 12px;
  display: block;
  margin-top: 4px;
}


/* Options */
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
  gap: 12px;
}

.options a {
  text-decoration: none;
  color: #6b21a8;
}

/* Bouton principal */
.btn-primary,
.btn-google {
  width: 100%;
  max-width: 300px; 
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-primary {
  background: #6b21a8;
  color: white;
  border: none;
}

.btn-primary:hover {
  background: #581c87;
}

.btn-google {
  border: 1px solid #ccc;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn-google img {
  width: 20px;
  height: 20px;
}


/* Lien d'inscription */
.signup-text {
  margin-top: 30px;
  text-align: center;
  color: #666;
}

.signup-text a {
  color: #6b21a8;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}

/* Footer */
.footer {
  margin-top: auto; 
  font-size: 12px;
  color: gray;
  text-align: center;
  padding: 20px 0; 
}

.footer a {
  color: #6b21a8;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* Overlay Texte sur l'image */
.overlay {
  position: absolute;
  color: white;
  padding: 40px;
  text-align: left;
  max-width: 60%;
}

.overlay h1 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: bold;
}

.overlay p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.users-join {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: bold;
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
